.address-container {
    max-width: 50%;
}

nav.order-nav-bar {
    display: flex;
    flex-direction: row;
}

nav.order-nav-bar > div {
    font-size: 1.25em;
    padding: .5em .5em;
}

nav.order-nav-bar > div:hover {
    cursor: pointer;
    background-color:  #cfcfcf ;
}

nav.order-nav-bar > .selected {
    background-color: #b5b5b5;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    text-align: left;
    padding-right: 10px;
}

tr {
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}
