* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.tab-content {
  width: 100%;
  height: auto;
  padding: 1vh 1vw 1vh 1vw;
  overflow-y: scroll;
}