.address-container {
    max-width: 50%;
}

nav.order-nav-bar {
    display: flex;
    flex-direction: row;
}

nav.order-nav-bar > div {
    font-size: 1.25em;
    padding: .5em .5em;
}

nav.order-nav-bar > div:hover {
    cursor: pointer;
    background-color:  #cfcfcf ;
}

nav.order-nav-bar > .selected {
    background-color: #b5b5b5;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: .5em;
}

thead {
    border-bottom: 1px solid black;
}

th, td {
    text-align: left;
    padding: 0px 10px;
    height: 1.5em;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}
