<!DOCTYPE html>
<html>
  <head>
    <title>WSI Order Interface</title>
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="index.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/"><img src="gd_logo.webp"></a>
          <h1>WSI Order Interface</h1>
        </div>
        <div id="menu-selector">
          <div class="selector-tab" id="order-lookup">
            <h2>Order Viewer</h2>
          </div>
          <div class="selector-tab" id="order-creation">
            <h2>Order Creation</h2>
          </div>
          <div class="selector-tab" id="home">
            <a href="/"><h2>Back to home</h2></a>
          </div>
        </div>
      </nav>
      <hr>
    </header>
    <main>
      <section id="order-viewer">
        <div id="searcher">
          <h2>Enter Order Information</h2>
          <form method="GET" id="search">
              <fieldset>
                <label for="order-num">Order number:</label>
                <input id="order-num" required>
                <button type="submit" id="order-search">Submit</button>
              </fieldset>
          </form>
        </div>
        <div>
          <div>
            <div id="customer">
              <h2>Customer</h2>
            </div>
            <div id="recipient">
              <h2>Recipient</h2>
            </div>
          </div>

          <div id="product-container">
            <h2>Products Ordered</h2>
          </div>
        </div>

      </section>

      <section id="order-creator" class="hidden">
        <form autocomplete="off" id="order-form">
          <fieldset id="store-selector">
            <legend><h2>Store Number</h2></legend>
            <div>
              <div>
                <input type="radio" id="1" name="storeNum" value="1" required checked>
                <label for="1">1</label>
              </div>
              <div>
                <input type="radio" id="2" name="storeNum" value="2" required>
                <label for="2">2</label>
              </div>
              <div>
                <input type="radio" id="3" name="storeNum" value="3" required>
                <label for="3">3</label>
              </div>
            </div>
            <div>
              <div>
                <input type="radio" id="5" name="storeNum" value="5" required>
                <label for="5">5</label>
              </div>
              <div>
                <input type="radio" id="6" name="storeNum" value="6" required>
                <label for="6">6</label>
              </div>
              <div>
                <input type="radio" id="7" name="storeNum" value="7" required>
                <label for="7">7</label>
              </div>
            </div>
          </fieldset>

          <fieldset id="order-info">
            <legend><h2>Order Information</h2></legend>
            <div class="input-field">
              <label for="order-num">Order Number: </label>
              <input type="number" name="order_num" id="order-num" required>
            </div>
            <div class="input-field">
              <label for="ship-method">Shipping Method: </label>
              <select name="ship_method" id="ship-method" form="order-form">
                <option value="FDXH" selected>FedEx Home Delivery</option>
                <option value="FXES">FedEx 3-Day</option>
                <option value="FX2D">FedEx 2-Day</option>
                <option value="FXSO">FedEx 1-Day</option>
              </select>
            </div>
          </fieldset>

          <fieldset id="customer-info">
            <legend><h2>Customer Information</h2></legend>
            <div class="input-field">
              <label for="cus-name">Name: </label>
              <input type="text" name="sold_to_name" required>
            </div>
            <div class="input-field">
              <label for="cus-address">Address: </label>
              <input type="text" name="sold_to_address" required>
            </div>
            <div class="input-field">
              <label for="cus-city">City: </label>
              <input type="text" name="sold_to_city" required>
            </div>
            <div class="input-field">
              <label for="cus-state">State: </label>
              <input type="text" name="sold_to_state" required>
            </div>
            <div class="input-field">
              <label for="cus-country">Country: </label>
              <input type="text" name="sold_to_country" required value="US">
            </div>
            <div class="input-field">
              <label for="cus-zip">Zip Code: </label>
              <input type="text" name="sold_to_zip" required>
            </div>
            <div class="input-field">
              <input type="checkbox" id="address" name="addressIsSame">
              <label for="address">Billing and shipping address are same</label>
            </div>
          </fieldset>

          <fieldset id="recipient-info">
            <legend><h2>Recipient Information</h2></legend>
            <div class="input-field">
              <label for="rec-name">Name: </label>
              <input type="text" name="ship_to_name" id="rec-name" required>
            </div>
            <div class="input-field">
              <label for="rec-address">Address: </label>
              <input type="text" name="ship_to_address" id="rec-address" required>
            </div>
            <div class="input-field">
              <label for="rec-city">City: </label>
              <input type="text" name="ship_to_city" id="rec-city" required>
            </div>
            <div class="input-field">
              <label for="rec-state">State: </label>
              <input type="text" name="ship_to_state" id="rec-state" required>
            </div>
            <div class="input-field">
              <label for="rec-country">Country: </label>
              <input type="text" name="ship_to_country" id="rec-country" required value="US">
            </div>
            <div class="input-field">
              <label for="rec-zip">Zip Code: </label>
              <input type="text" name="ship_to_zip" id="rec-zip" required>
            </div>
          </fieldset>

          <fieldset>
            <legend><h2>Product Information</h2></legend>
            <div class="input-field">
              <label for="sku">SKU: </label>
              <input type="text" name="sku" required>
            </div>
            <div class="input-field">
              <label for="units-ordered">Quantity: </label>
              <input type="number" id="units-ordered" name="quantity" value=1 inputmode="numeric" required>
            </div>
            <div class="input-field">
              <label for="unit_price">Price: $</label>
              <input type="text" name="price" pattern="\d+\.\d\d" placeholder="0.00" title="Price should be in the form #.##" required>
            </div>
          </fieldset>
          <button id="send-order" type="submit">Submit</button>
        </form>
      </section>
    </main>
  </body>
</html>