* {
  box-sizing: content-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
}

form > div {
  display: flex;
  flex-direction: column;
}

input {
  margin-left: 5px;
}

label {
  margin-right: 5px;
}

nav div {
  display: flex;
  flex-direction: row;
}

nav h1 {
  text-align: center;
  margin: 7px;
}

nav img {
  height: 45px;
}

#customer form > div {
  display: flex;
  flex-direction: row;
}

#home {
  margin-left: auto;
  margin-right: 5px;
}

#menu-selector{
  display: flex;
  flex-direction: row;
}

#send-order {
  margin-top: 25px;
}

#store-selector {
  display: flex;
  flex-direction: row;
}

#store-selector > div {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.input-field {
  margin-top: 5px;
}

/* For information that is not yet available */
small, .not-avail {
  color: red;
}

.selector-tab {
  padding: 2px;
  margin-right: 150px;
  margin-left: 0px;
}

.selector-tab:hover {
  cursor: pointer;
}