* {
  box-sizing: border-box;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.tab-content {
  background-color: gray;
  opacity: 40%;
  width: 100%;
  padding: 1vh 1vw 0 1vw;
}