<header>
    <nav>
      <div>
        <a href="/"><img src="gd_logo.webp"></a>
        <h1>WSI Order Interface</h1>
      </div>
      <div id="menu-selector">
        <div class="selector-tab" id="order-lookup">
          <h2>Order Viewer</h2>
        </div>
        <div class="selector-tab" id="order-creation">
          <h2>Order Creation</h2>
        </div>
        <div class="selector-tab" id="shipping">
          <h2>Shipping Confirmations</h2>
        </div>
        <div class="selector-tab" id="home">
          <a href="/"><h2>Back to home</h2></a>
        </div>
      </div>
    </nav>
    <hr>
  </header>