.vertical-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1vh;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

hr {
  width: 100%;
}

.order-creator {
  display: flex;
  flex-direction: row;
}

label {
  padding-bottom: .5vh;
}

label > * {
  margin-left: .5vw;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}